
/*============================ UNIVERSAL =============================*/
.no-padding {
  padding: 0;
}
.no-margin {
  margin: 0;
}
.container-fluid {
  height: 100%;
  width: 100%;
}
.homeContainer {

}
.jumbotron {
  text-align: center;
  height: 200px;
}
.homeJumbotron {
  background-image: url('../img/home_page_jumbo.jpg');
  background-size: cover;
  background-position: center;
}
.features .fa {
  font-size: 15px;
}
.features button {
  width: 100%;
}
.tabHeader {
  text-align: center;
  margin-top: 25px;
  margin-left: 10px;
}
.tabHeader h1,h2,h3,h4 {
  margin: 0 0 10px 0;
}
.tabSection{
  text-align: center;
}
.tabSection .glyphicon {
  font-size: 25px;
}
.tabSection .commentSection {
  margin-top: 25px;
  clear: both;
}
.tabSection .commentSection input {
  width: 50%;
}
.tabSection .commentSection ul {
  margin-top: 15px;
  max-height:150px;
  overflow: auto;
}
.tabSection .commentSection li {
  list-style-type: none;
  margin: 0;
  margin-top: 15px;
}
.tabSection .commentSection li p {
  margin: 0 auto;
  margin-top: 10px;
  width: 75%;
  background-color: green;
  height: 100%;
  padding: 15px;
  overflow-x: scroll;
}
.tabSection button {
  width: 100px;
}
@media (min-width: 768px) {
  .features button {
    font-size: 12px;
    width: 20%;
    display: inline-block;
    float: left;
  }
}
