<div class="row featureTab">
  <div class="col-md-12 tabHeader">
    <h1>Weather Portion!</h1>
    <p>This feature would display the current weather in your local area! This information would be based on your personal zip code from your profile!</p>
    <div class="col-md-12 tabSection">
      <div class="col-sm-2 col-sm-offset-4">
        <span class="glyphicon glyphicon-thumbs-up">{{weatherUp}}</span><br/>
        <button ng-click="addToLiked()">UpVote!</button>
      </div>
      <div class="col-sm-2">
        <span class="glyphicon glyphicon-thumbs-down">{{weatherDown}}</span><br/>
        <button ng-click="addToDisliked()">DownVote!</button>
      </div>
      <div class="col-lg-12 commentSection">
        <p>Please leave a comment below about this feature!</p><br/>
        <input type="text" ng-model="inputText" ng-keydown="insertText($event, inputText)">
        <button ng-click="insertClick(inputText)">Submit</button>
      </div>
      <div class="row no-margin commentSection">
        <ul>
          <li ng-repeat="things in thisString track by $index">
            <p>{{things}}<button style="float:right; margin-left: 10px;" ng-click="deleteText($index)">Delete</button></p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
