
<div class="row">
    <div class="col-sm-9">
        <div class="container">
            <div class="col-sm-11 col-sm-offset-1 comment" ng-controller="blogCtrl">
                <div class="input-group col-sm-10">
                    <div class="inputBox">
                        <h3>Discussion Field</h3>
                        <ul>
                            <li ng-repeat="thing in things_todo track by $index" class="liPost">
                                <img src="img/profile_pic.jpg" alt="#" class="img-responsive img-rounded col-sm-1" />
                                <p ng-click="read(thing)" class="col-sm-8">{{thing}}</p>
                                <button class="glyphicon glyphicon-remove col-sm-1 deleteSl" type="button" ng-click="delete($index)"></button>
                                <button class="glyphicon glyphicon-pencil col-sm-2" type="button" ng-mousedown="edit_start($index)" ng-click="myStyle={'transition':'0.5s linear all', 'opacity':'0', 'opacity':'1'}"></button>
                                <div class="row rating" ng-repeat="vote in vote track by $index">
                                    <button class="glyphicon glyphicon-thumbs-up col-sm-1 col-sm-pull-8 likes" type="button" ng-click="plusOne($index)"></button><p class=" col-sm-1 col-sm-pull-8"> {{ vote.likes }} </p>
                                    <button class="glyphicon glyphicon-thumbs-down col-sm-1 col-sm-pull-8 dislikes" type="button" ng-click="minusOne($index)"></button><p class="col-sm-1 col-sm-pull-8"> {{ vote.dislikes }} </p>
                                </div>
                                <!-- <div class="rating" ng-repeat="vote in vote">
  						            <p class="likes" ng-click="plusOne($index)"> {{ vote.likes }} </p>
                                    <p class="dislikes" ng-click="minusOne($index)"> {{ vote.dislikes }} </p>
						        </div> -->
                                <div class="input-group editInput" ng-style="myStyle" ng-show="myStyle">
                                    <div class="input-group-btn">
                                        <button class="btn btn-default" type="button" ng-mousedown="myStyle={'transition':'0.5s linear all', 'opacity':'1', 'opacity':'0'}">Edit</button>
                                        <button class="btn btn-default" type="button" ng-click="myStyle={'transition':'0.5s linear all', 'opacity':'1', 'opacity':'0'}">Cancel</button>
                                    </div>
                                    <input type="text" class="form-control" ng-model="things_todo[$index]" placeholder="Edit...">
                                </div>
                                <hr class="soften"/>
                            </li>
                        </ul>
                    </div>
                    <div class="fixed-bottom">
                        <textarea class="form-control" rows="4" placeholder="Join the discussion..." ng-model="inputModel"></textarea>
                        <button class="btn btn-default postBtn" type="button" ng-click="push_todo(inputModel)">Post</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-2 col-sm-offset-1 socialTabs">
        <h3>Social Tabs</h3>
        <ul>
            <li>discussions dropdown</li>
            <li>Groups Dropdown</li>
            <li>Members online dropdown</li>
        </ul>
    </div>
</div>
